<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="page2-bg">
      <div class="location-btn" id="loc-gate">
        <img class="loc-icon" src="/elements/location.png" alt="">
        <div class="loc-label"><span class="loc-zh">入徑</span>The Gate of Parting</div>
      </div>
      <div class="location-btn" id="loc-pavilion">
        <img class="loc-icon" src="/elements/location.png" alt="">
        <div class="loc-label"><span class="loc-zh">忘亭</span>The Pavilion of Forgetting</div>
      </div>
      <div class="location-btn" id="loc-pond">
        <img class="loc-icon" src="/elements/location.png" alt="">
        <div class="loc-label"><span class="loc-zh">鏡池</span>The Pond of Mirror</div>
      </div>
      <div class="location-btn" id="loc-diary">
        <img class="loc-icon" src="/elements/diary.png" alt="">
        <div class="loc-label"><span class="loc-zh">残卷</span>Losted Diary</div>
      </div>
      <div class="dark-cover"></div>
      <div class="page2-content">
        <div class="quote-text" id="quote1"><div class="q-zh"></div><div class="q-en"></div></div>
        <div class="quote-text" id="quote2"><div class="q-zh"></div><div class="q-en"></div></div>
        <div class="quote-text" id="quote3"><div class="q-zh"></div><div class="q-en"></div></div>
        <div class="quote-text" id="quote4"><div class="q-zh"></div><div class="q-en"></div></div>
        <div class="lantern-btn" id="lantern-btn">
          <img src="/elements/lantern.png" alt="Lantern">
        </div>
      </div>
    </div>
<div id="flame"><img src="/elements/flame.png" alt=""></div>
    <div id="flare"></div>
    <div id="blackout"></div>
    <script src="/main.js"></script>
  </body>
</html>
