<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="parallax-container">
      <div class="layer" data-depth="1"></div>
      <div class="layer" data-depth="2"></div>
      <div class="layer" data-depth="3"></div>
      <div class="layer" data-depth="4"></div>
      <div class="layer" data-depth="5"></div>
      <div class="layer" data-depth="6"></div>
      <div class="layer" data-depth="7"></div>
      <div class="title">
        <img src="/elements/title.png" alt="Abandoned Garden">
      </div>
      <div class="start-btn">
        <img src="/elements/start_button.png" alt="Start">
      </div>
    </div>
    <div id="blackout"></div>
    <script src="/main.js"></script>
  </body>
</html>
